.active {
  border: solid 2px black;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
input {
  width: 500px;
  height: 35px;
}
.login {
  border: solid 2px black;
  display: flex;
  border-radius: 30px;
  width: 97px;
  height: 34px;
  justify-content: center;
}
